body {
  background-color: black;
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-areas: "header header"
  "sidebar todo"
  "sidebar todo";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 15fr;
  height: 100vh;
  margin: 0;
  text-transform: capitalize;
}

header {
  background-color: springgreen;
  border-bottom: 5px solid mediumpurple;
  display: flex;
  justify-content: space-between;
  font-family: 'Satisfy', cursive;
  grid-area: header;
  padding: 0 20px;
}

h1 {
  font-size: 2rem;
}

h1 i {
  color: darkblue;
}

.search {
  margin: auto 0;
}

.search button {
  height: 1.9rem;
  position: relative;
  right: 0.3rem;
}

sidebar {
  background-color: aquamarine;
  grid-area: sidebar;
  padding: 5px;
  text-align: center;
}

sidebar input {
  margin: 0 auto;
}

.sidebar-btn {
  font-size: 1.2rem;
  height: 2.2rem;
  width: 100%;
}

input {
  border: 2px solid darkblue;
  height: 1.5rem;
  font-size: 1rem;
  padding-left: 2px;
  text-transform: capitalize;
}

.task-title {
  width: 80%;
}

.input-task {
  margin: 1rem auto;
  width: 90%;
}

.input-task input {
  width: 80%;
}

.clear {
  display: block;
  margin: auto;
}

.todo {
  color: hotpink;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.task-section-text {
  font-family: 'Satisfy', cursive;
  font-size: 2.5rem;
  text-align: center;
 }

button {
  background-color: springgreen;
  border: 2px solid darkblue;
  margin: 1rem 0;
  position: relative;
  bottom: 2px;
}

button:hover {
  background-color: darkblue;
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

/* .urgent-btn {
  background-color: 
} */

hr {
  border: 2px solid darkblue;
}

.input-btn {
  height: 1.8rem;
  position: relative;
  right: .4rem;
}

.urgent-btn:hover, .delete-btn:hover {
  background-color: paleturquoise;
  color: red;
}

article {
  background-color: lightyellow;
  border: 2px solid yellow;
  color: black;
  height: fit-content;
  margin: 1rem;
  min-width: 20%;
  padding: 10px;
}

article button {
  background-color: yellow;
  border: 2px solid black;
  font-size: 1.5rem;
  height: 2.5rem;
  min-width: 20%;
}

.task-btns {
  grid-area: btn;
  display: flex;
  justify-content: space-around;
}

.fa-circle {
  padding-right: 5px;
}

.urgent {
  background-color: lightpink;
  border: 2px solid darkmagenta;
}

.urgent button {
  background-color: white;
  border: 2px solid darkmagenta;
  color: darkmagenta;
}

.urgent button:hover {
  background-color: darkmagenta;
  color: white;
}

.urgent .urgent-btn {
  transform: scale(1.2)
}